<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="RobotAssembly_v3_1_3">
  <link
    name="base_footprint" />
  <joint
    name="base_footprint_joint"
    type="fixed">
    <origin
      xyz="0 0 0.5"
      rpy="0 0 0" />
    <parent
      link="base_footprint" />
    <child
      link="base_link" />
  </joint>
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-0.02184 0.00062 -0.10961"
        rpy="0 0 0" />
      <mass
        value="4.80547" />
      <inertia
        ixx="0.02944743384"
        ixy="-0.00042110648"
        ixz="0.00070940118"
        iyy="0.05419484353"
        iyz="0.00020477916"
        izz="0.06358515462" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://RobotAssembly_v3_1_3/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://RobotAssembly_v3_1_3/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="left_hip_link">
    <inertial>
      <origin
        xyz="0.02714 0.00001 0.06679"
        rpy="0 0 0" />
      <mass
        value="1.24046" />
      <inertia
        ixx="0.00247653769"
        ixy="-0.00000569149"
        ixz="0.00012317420"
        iyy="0.00211394268"
        iyz="-0.00000048610"
        izz="0.00132533038" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://RobotAssembly_v3_1_3/meshes/left_hip_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://RobotAssembly_v3_1_3/meshes/left_hip_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_hip_joint"
    type="revolute">
    <origin
      xyz="0.0494998769343654 0.0765001841857452 -0.115382314722905"
      rpy="1.5707963267949 0 -1.5707963267949" />
    <parent
      link="base_link" />
    <child
      link="left_hip_link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-0.6"
      upper="0.6"
      effort="60"
      velocity="20" />
  </joint>
  <link
    name="left_shoulder_link">
    <inertial>
      <origin
        xyz="0.04003 -0.02840 0.06599"
        rpy="0 0 0" />
      <mass
        value="2.12968" />
      <inertia
        ixx="0.00842704930"
        ixy="-0.00633517377"
        ixz="0.00195856088"
        iyy="0.01155772717"
        iyz="-0.00138731586"
        izz="0.01621457911" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://RobotAssembly_v3_1_3/meshes/left_shoulder_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://RobotAssembly_v3_1_3/meshes/left_shoulder_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_shoulder_joint"
    type="revolute">
    <origin
      xyz="0.00659999993139787 0 0.07350000002419"
      rpy="0 -1.5707963267949 0" />
    <parent
      link="left_hip_link" />
    <child
      link="left_shoulder_link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-1.5"
      upper="2"
      effort="60"
      velocity="20" />
  </joint>
  <link
    name="left_leg_link">
    <inertial>
      <origin
        xyz="-0.14325 -0.17443 -0.00932"
        rpy="0 0 0" />
      <mass
        value="0.93631" />
      <inertia
        ixx="0.00679397067"
        ixy="0.00486203521"
        ixz="0.00030907162"
        iyy="0.00448112204"
        iyz="0.00039752931"
        izz="0.01082623424" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://RobotAssembly_v3_1_3/meshes/left_leg_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://RobotAssembly_v3_1_3/meshes/left_leg_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_leg_joint"
    type="revolute">
    <origin
      xyz="0.191421187955913 -0.204347568530282 0.0890000000000002"
      rpy="0 0 0" />
    <parent
      link="left_shoulder_link" />
    <child
      link="left_leg_link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-1.0754"
      upper="1.0754"
      effort="60"
      velocity="20" />
  </joint>
  <link
    name="left_wheel_link">
    <inertial>
      <origin
        xyz="0.0 0.0 0.03736"
        rpy="0 0 0" />
      <mass
        value="0.58347" />
      <inertia
        ixx="0.00155907903"
        ixy="-0.00000000001"
        ixz="-0.00000000031"
        iyy="0.00155907902"
        iyz="-0.00000000049"
        izz="0.00296447680" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://RobotAssembly_v3_1_3/meshes/left_wheel_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.866666666666667 0.909803921568627 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://RobotAssembly_v3_1_3/meshes/left_wheel_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_wheel_joint"
    type="continuous">
    <origin
      xyz="-0.177564608931486 -0.219307568622255 0.00750000000001383"
      rpy="0 0 0" />
    <parent
      link="left_leg_link" />
    <child
      link="left_wheel_link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="36"
      velocity="53" />
  </joint>
  <link
    name="right_hip_link">
    <inertial>
      <origin
        xyz="-0.02714 -0.00001 0.06679"
        rpy="0 0 0" />
      <mass
        value="1.24046" />
      <inertia
        ixx="0.00247653769"
        ixy="-0.00000569149"
        ixz="-0.00012317420"
        iyy="0.00211394268"
        iyz="0.00000048610"
        izz="0.00132533038" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://RobotAssembly_v3_1_3/meshes/right_hip_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://RobotAssembly_v3_1_3/meshes/right_hip_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_hip_joint"
    type="revolute">
    <origin
      xyz="0.0494998769343654 -0.0764998156770381 -0.115382314771218"
      rpy="1.5707963267949 0 -1.5707963267949" />
    <parent
      link="base_link" />
    <child
      link="right_hip_link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-0.6"
      upper="0.6"
      effort="60"
      velocity="20" />
  </joint>
  <link
    name="right_shoulder_link">
    <inertial>
      <origin
        xyz="-0.03997 -0.02849 0.06592"
        rpy="0 0 0" />
      <mass
        value="2.12280" />
      <inertia
        ixx="0.00841707608"
        ixy="0.00634563897"
        ixz="-0.00195537833"
        iyy="0.01155066545"
        iyz="-0.00139798556"
        izz="0.01620612000" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://RobotAssembly_v3_1_3/meshes/right_shoulder_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://RobotAssembly_v3_1_3/meshes/right_shoulder_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_shoulder_joint"
    type="revolute">
    <origin
      xyz="-0.00659999993137167 0 0.07350000002419"
      rpy="0 1.5707963267949 0" />
    <parent
      link="right_hip_link" />
    <child
      link="right_shoulder_link" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-1.5"
      upper="2"
      effort="60"
      velocity="20" />
  </joint>
  <link
    name="right_leg_link">
    <inertial>
      <origin
        xyz="0.14319 -0.17435 -0.00932"
        rpy="0 0 0" />
      <mass
        value="0.93668" />
      <inertia
        ixx="0.00680716942"
        ixy="-0.00487174083"
        ixz="-0.00030904729"
        iyy="0.00448827456"
        iyz="0.00039748699"
        izz="0.01084659345" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://RobotAssembly_v3_1_3/meshes/right_leg_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://RobotAssembly_v3_1_3/meshes/right_leg_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_leg_joint"
    type="revolute">
    <origin
      xyz="-0.191421187955899 -0.204347568667528 0.0889999999999891"
      rpy="0 0 0" />
    <parent
      link="right_shoulder_link" />
    <child
      link="right_leg_link" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-1.0754"
      upper="1.0754"
      effort="60"
      velocity="20" />
  </joint>
  <link
    name="right_wheel_link">
    <inertial>
      <origin
        xyz="0.0 0.0 0.03736"
        rpy="0 0 0" />
      <mass
        value="0.58347" />
      <inertia
        ixx="0.00155907903"
        ixy="0.00000000001"
        ixz="-0.00000000056"
        iyy="0.00155907903"
        iyz="0.00000000012"
        izz="0.00296447680" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://RobotAssembly_v3_1_3/meshes/right_wheel_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.866666666666667 0.909803921568627 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://RobotAssembly_v3_1_3/meshes/right_wheel_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_wheel_joint"
    type="continuous">
    <origin
      xyz="0.177564608931477 -0.219307568622248 0.00749999999999432"
      rpy="0 0 0" />
    <parent
      link="right_leg_link" />
    <child
      link="right_wheel_link" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0"
      effort="36"
      velocity="53" />
  </joint>
  <link
    name="camera_link">
    <inertial>
      <origin
        xyz="0.00063 0.0 0.00003"
        rpy="0 0 0" />
      <mass
        value="0.1" />
      <inertia
        ixx="0.00000906773"
        ixy="-0.00000000528"
        ixz="0.00000089626"
        iyy="0.00006093253"
        iyz="0.00000001601"
        izz="0.00006028447" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://RobotAssembly_v3_1_3/meshes/camera_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0 1 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://RobotAssembly_v3_1_3/meshes/camera_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="camera_joint"
    type="fixed">
    <origin
      xyz="0.0820522924729588 0.000633156550286951 -0.181274371312235"
      rpy="-2.61799388374171 8.1484834395763E-05 -1.57093746266981" />
    <parent
      link="base_link" />
    <child
      link="camera_link" />
    <axis
      xyz="0 0 1" />
  </joint>
</robot>
